*.zip filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
data/archive.zip filter=lfs diff=lfs merge=lfs -text
data/archive/creditcard.csv filter=lfs diff=lfs merge=lfs -text
